@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    
    <p>This is a Web application build on the Asp core 2.2. </p>
    <p>This Web app has the Azure Ad Authendtication enabled.</p>
</div>

<div>


    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-"></div>
        <div class="col-sm-2"></div>
    </div>

</div>

